#imgur-gal {
  margin: 0 auto;
  max-width: 1200px;
  /* Ready for the magic? */
  /* Lays children of the parent side by side */
  
  display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  /* Allows content to fit to parent container */
  
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
img {
  width: 200px;
  height: 200px;
}
body,
button {
  color: #fff;
  background: #34495e;
}
h1 {
  font-size: 2.3em;
  font-weight: 900;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.container {
  height: 50vh;
}
.content {
  width: 80%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.input-container {
  width: 550px;
  margin: 0 auto;
  align-items: center;
}
input,
button {
  float: left;
  margin: 10px;
  width: 160px;
  height: 32px;
  padding: 0px;
  display: block;
  border-radius: 6px;
}
input {
  text-indent: 12px;
  border: 2px solid #bdc3c7;
}
input:focus {
  outline: transparent;
  border: 2px solid #1abc9c;
}
button {
  height: 34px;
  border: transparent;
  background: #1abc9c;
}