
/*
 ** Structure 
  */
 body {
  margin: 0;
  color: #fff;
  background: #2f4154;
}

/*
 ** Fonts
  */
 html {

 }
 h1,
 button {
  color: #fff;
  font-size: 1.4em;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
p {
  margin: 30px 0;
  font-size: 1em;
  text-align: center;
  font-family: 'Merriweather', serif;
  text-rendering: optimizeLegibility;
}
#page-title {
  font-size: 2em;
}
/*
 ** Inputs
  */
input,
button {
  width: 180px;
  height: 32px;
  padding: 0px;
  display: block;
  margin: 10px auto;
  border-radius: 6px;
}
input {
  text-indent: 12px;
  border: 2px solid #bdc3c7;
}
input:focus {
  outline: transparent;
  border: 2px solid #1abc9c;
}
button {
  height: 34px;
  border: transparent;
  background: #1abc9c;
}
main {
  height: 100vh;
  position: relative;
}
.flex-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 12%);
}
/*
 ** Images
 */
.images {
    display: flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  /* Allows content to fit to parent container */
  
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  /* Reverses the row direction */
  
}
img {
  width: 90%;
  margin: 10px auto;
  max-height: 300px;
  border-radius: 6px;
  border: 3px solid #808080;
}